<section class="formation-card" aria-labelledby="formation-title">
  <div class="content">
    <div class="col">
      <h3 class="col-title">Institucional</h3>
      <ul class="list">
        <li>Especialidad en TIC de la escuela ORT (2023-2025)</li>
        <li>Ingeniería informática en ITBA (2026-x)</li>
      </ul>
    </div>

    <div class="vertical-divider" aria-hidden="true"></div>

    <div class="col">
      <h3 class="col-title">Cursos</h3>
      <ul class="list">
        <li>Organización del modelo legislativo interno ORT 2025</li>
        <li>Debatiente en la asociación argentina de debate representando a la ORT 2025</li>
        <li>
          Participante del viaje institucional de ORT a Londres (2023), dos semanas de inmersión en
          inglés.
        </li>
      </ul>
    </div>
  </div>

  <div class="bottom-line" aria-hidden="true"></div>

  <div class="langs">
    <div class="langs-title">Idiomas</div>
    <div class="pills">
      <app-stack-pill text="Español nativo"></app-stack-pill>
      <app-stack-pill text="Inglés C1"></app-stack-pill>
    </div>
  </div>
</section>
